<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Associated Indicator Operations App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- ThreatConnect scripts -->
        <script type="text/javascript" src="./js/tc/libs/core.js"></script>
        <script type="text/javascript" src="./js/tc/libs/sha256.js"></script>
        <script type="text/javascript" src="./js/tc/libs/hmac.js"></script>
        <script type="text/javascript" src="./js/tc/libs/enc-base64.js"></script>

        <!-- Uncomment the line below to use the master branch of the TC JS SDK -->
        <!-- <script type="text/javascript" src="https://cdn.rawgit.com/ThreatConnect-Inc/threatconnect-javascript/master/threatconnect.js"></script> -->
        <script type="text/javascript" src="./js/tc/threatconnect.js"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <!-- jQuery growl -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>

        <!-- Zurb Foundation imports -->
        <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">

        <!-- Vue.js -->
        <script src="https://unpkg.com/vue"></script>

        <!-- FontAwesome Icons CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="styles/Associated_Indicator_Operations_App.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="large-11 medium-11 small-11" id="app-content" v-if="visible">
            <!-- <div>
                <h1>Indicators</h1>
                <ul id="example-1">
                  <li v-for="indicator in indicators">
                    {{ indicator.indicator }}
                  </li>
                </ul>
            </div> -->

            <div>
                <textarea id="indicatorsHidden" style="position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0;">{{ indicators.map(x => x['indicator']).join(',') }}</textarea>
            </div>

            <div class="float-center text-center">
                <h1>Actions</h1>
                <button class="button secondary" v-on:click="copyIndicators">Copy Associated Indicators</button>
                <p>
                    <i>Have another action you'd like to see? <a href="https://hightower.space/contact/" target="_blank">Let me know!</a></i>
                </p>
            </div>

            <div class="float-center text-center">
                <hr>
                <p><a data-open="creditsModal">Credits</a></p>
            </div>
        </div> <!-- end app-content -->

        <div class="reveal" id="creditsModal" data-reveal>
            <h1>Credits</h1>
            <p>This app was created by <a href="https://hightower.space/" target="_blank">Floyd Hightower</a>. The source code for this app is available <a href="https://gitlab.com/fhightower-tc/associated-indicator-action-spaces-app" target="_blank">here</a>.</p>
            <p>If you have any feedback, feel free to <a href="https://gitlab.com/fhightower-tc/associated-indicator-action-spaces-app/issues" target="_blank">raise an issue</a> or <a href="https://hightower.space/contact/" target="_blank">send Floyd feedback</a>.</p>
            <p>If you enjoy the app, please <a href="https://saythanks.io/to/fhightower" target="_blank">say thank you</a>! It's very encouraging to know people are using this app!</p>
        </div>

        <!-- App scripts here -->
        <script src="js/associatedIndicatorOperationsApp.js"></script>

        <script type="text/javascript">
            // configure jgrowl to not show the [Close All] button when multiple growl messages are displayed
            $.jGrowl.defaults.closer = false;

            window.onload = function() {
                // START THE APP HERE...
                ASSOCIATEDINDICATOROPERATIONSAPP.startApp();
            }
        </script>
    </body>
</html>